
body{

    margin: 0;
    background-color: slategray;

}


.header-wrapper
{
    display: flex;


}


.header-container
{


    width:1400px;
    height: 500px;
    background-image: url("../img/header1.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    filter:brightness(90%);
}

.header__h1
{
    text-align: center;
    line-height:300px;
    color:white;
    font-size: 55px;
    letter-spacing: 5px;
    margin:0px;
}